* {
    margin: 0px;
    padding: 0px;
}

.gation {
    height: 75px;
    width: 601;
    background-color: rgba(233, 231, 231);
}

/* header section css start here */
.Header-Contain-Contain {
    width: 100%;
    height: auto;
    display: flex;
}

.Logo-logo {
    width: 1740px;
    margin-left: 320px;
    padding-top: 15px;
}

.Logo-logo img {
    width: 145px;
    height: 50px;
}

.Right-Button-Button {
    width: 500px;
    height: auto;
    margin-right: 280px;
    display: flex;

}

/* right button css start here */
.Right-Button-Button button {

    width: 160px;
    height: 30px;
    font-size: 12px;
    align-items: center;
    border-radius: 20px;
    margin-top: 25px;
    text-align: left;
}

.Right-Button-Button::after {
    content: ">>";
    height: 12px;
    width: 12px;
    color: black;
    background-color: black;
    clip-path: polygon(0 0, 49% 97%, 100% 0);
    margin-left: 5px;
    margin-top: 34px;

}

.Green-Circle-Circle {
    height: 10px;
    width: 10px;
    background-color: rgb(9, 180, 32);
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
    margin-left: 10px;
    /* float: left; */
}

.span-span {
    margin-left: 400px;
    line-height: 130px;
    font-size: xx-large;
    font-family: sans-serif;
    color: rgba(30, 34, 33);
    font: 30px;
}

/* NavLink css start here */
.Links {
    margin-left: 420px;
    margin-top: 30px;
    width: 130px;
    float: left;

}

.Home-Link {
    text-decoration: none;
    color: #303433;

}

.Blog-Link {
    text-decoration: none;
    color: #303433;
    line-height: 55px;
}

.Help-Link {
    text-decoration: none;
    color: #303433;
    line-height: 45px;
}

.Code-Link {
    text-decoration: none;
    color: #303433;
    line-height: 45px;
}

.About-Link {
    text-decoration: none;
    color: #303433;
    line-height: 45px;
}

@media only screen and (max-width: 1080px) {
    .gation {
        height: 65px;
        width: 550;
        background-color: rgba(233, 231, 231);
    }

    /* header section css start here */
    .Header-Contain-Contain {
        width: 100%;
        height: auto;
        display: flex;
    }

    .Logo-logo {
        width: 1440px;
        margin-left: 300px;
        padding-top: 11px;
    }

    .Logo-logo img {
        width: 125px;
        height: 40px;
    }

    .Right-Button-Button {
        width: 450px;
        height: auto;
        margin-right: 250px;
        display: flex;

    }

    /* right button css start here */
    .Right-Button-Button button {
        /* border: none; */
        /* outline: none; */
        width: 130px;
        height: 25px;
        font-size: 12px;
        align-items: center;
        border-radius: 18px;
        margin-top: 20px;
        text-align: left;
    }

    .Right-Button-Button::after {
        content: ">>";
        height: 10px;
        width: 10px;
        color: black;
        background-color: black;
        clip-path: polygon(0 0, 49% 97%, 100% 0);
        margin-left: 4px;
        margin-top: 30px;

    }

    .Green-Circle-Circle {
        height: 8px;
        width: 8px;
        background-color: rgb(9, 180, 32);
        border-radius: 50%;
        line-height: 30px;
        display: inline-block;
        margin-right: 10px;
        margin-top: 1px;
        margin-left: 10px;
        /* float: left; */
    }

    .span-span {
        margin-left: 360px;
        /* margin-top: 30px !important; */
        line-height: 120px;
        font-size: xx-large;
        font-family: sans-serif;
        color: rgba(30, 34, 33);
        font: 25px;
    }

    /* NavLink css start here */
    .Links {
        margin-left: 200px;
        margin-top: 25px;
        width: 100px;
        float: left;

    }

    .Home-Link {
        text-decoration: none;
        color: #303433;

    }

    .Blog-Link {
        text-decoration: none;
        color: #303433;
        line-height: 50px;
    }

    .Help-Link {
        text-decoration: none;
        color: #303433;
        line-height: 40px;
    }

    .Code-Link {
        text-decoration: none;
        color: #303433;
        line-height: 40px;
    }

    .About-Link {
        text-decoration: none;
        color: #303433;
        line-height: 40px;
    }
}