.Accountbutton{
    /* width: 200px; */
    width: 200px;
    height: 40px;
    margin-top: 300px;
}
.AccountButton2{
    width: 200px;
    height: 40px; 
    margin-top: 300px;  
    margin-left: 100px;
}